#page-contact {
    background: url('/assets/img/contact-background.jpg') no-repeat center center !important;
    height: 600px;
    display: flex;
    align-items: center;
}
#page-contact .contact-info p {
    font-size: 1.2em;
}
#page-contact .contact-info .profile-item {
    text-align: center;
}
#page-contact .contact-info .profile-item i {
    font-size: 2em;
    margin-bottom: 10px;
}
#page-contact .contact-info .profile-item p {
    font-weight: 400;
}
#page-contact .contact-info .profile-item p a {
    color: white;
}