.timeline-point {
    height: 12px;
    width: 12px;
    position: absolute;
    left: -8px;
    border-radius: 50%;
    box-shadow: 0 0 0 7px #fefefe;
    background: var(--base-color);
}

.timeline-item {
    margin: 15px 30px;
    font-size: 1.2em;
}

.timeline-date {
    color: #cccccc;
    font-size: 1em;
    margin-bottom: 5px;
}

.timeline-company {
    margin-bottom: 10px;
    font-size: 2em;
}

.timeline-role {
    color: #666666;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.timeline-location {
    color: #cccccc;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.timeline-details {
    text-align: justify;
}

.timeline-details-info {
    padding: 10px 0;
}