.timeline-point {
    height: 12px;
    width: 12px;
    position: absolute;
    left: -8px;
    border-radius: 50%;
    box-shadow: 0 0 0 7px #fefefe;
    background: var(--base-color);
}

.timeline-item {
    margin-bottom: 30px;
    margin-left: 15px;
    font-size: 1.2em;
    text-align: justify;
}

.timeline-date {
    color: #cccccc;
    font-size: 14px;
    margin-bottom: 5px;
}

.timeline-company {
    margin-bottom: 10px;
    font-size: 22px;
}

.timeline-role {
    color: #666666;
    margin-bottom: 10px;
}

.timeline-location {
    color: #cccccc;
    font-size: 12px;
    margin-bottom: 10px;
}

.timeline-info {
    margin-top: 30px;
}