:root {
    --font-size: 14px;
    --header-height: 50px;
    --icon-height: 47px;
    --custom-icon-height: 42px;
    --custom-icon-width: 75px;
    --base-color: #ff6354;
    --welcome-color: #555555;
    --welcome-color-alternative: #ffffff;
    --section-odd-color: #ffffff;
    --section-even-color: #f7f7f7;
}