@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,700);

:root {
    --font-size: 14px;
    --base-color: #ff6354;
    --header-color: #777777;
    --title-color: #555555;
    --text-color: #757575;
    --secondary-text-color: #ffffff;
    --section-odd-color: #ffffff;
    --section-even-color: #f7f7f7;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    color: var(--text-color);
    font-size: var(--font-size);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 1.5em;
}

.cv {
    .section:nth-of-type(even) {
        background: var(--section-odd-color);
    }

    .section:nth-of-type(odd) {
        background: var(--section-even-color);
    }

    .welcome,
    .hobbies,
    .about-cv,
    .contact {
        //margin-top: 15px;
        //display: block;
        //display: flex;
        justify-content: space-around;
    }

    .header {
        background-color: rgba(255, 255, 255, 0.7);
        position: fixed;
        width: 100%;
        z-index: 999;
    }

    .welcome,
    .contact {
        align-items: center;
        color: var(--secondary-text-color);
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        padding: 0;

        // .title {
        //     color: var(--secondary-text-color);
        // }

        // .spacer {
        //     background: var(--secondary-text-color);
        // }
    }

    .about {
        .about-content {
            display: flex;
        }

        .about-image {
            border: 2px solid #555555;
            max-height: 225px;
            max-width: 225px;
            min-height: 225px;
            min-width: 225px;
            transform: scaleX(-1);
        }

        .about-text {
            font-size: 1.15em;
            line-height: 1.75em;
            margin: 2em 0;
            padding-left: 60px;
            text-align: justify;
        }
    }

    .hobbies,
    .tools {
        .hobbies-content,
        .tools-content {
            display: flex;
            justify-content: space-around;
        }
    }

    //    .contact {
    //         &.section {
    //             background-color: var(--base-color);
    //             // background: url("/assets/contact-background.jpg") no-repeat 50%;

    //             .icon-wrapper {
    //                 padding: 100px 100px 0 100px;
    //             }
    //         }
    //     }

    //     .skills {
    //         display: grid;
    //         grid-template-columns: 500px 500px;
    //         justify-content: space-around;
    //     }

    //     .timeline {
    //         margin: 0 auto;
    //         width: 800px;

    //         .link {
    //             color: var(--base-color);
    //             text-decoration: none;

    //             &:link,
    //             &:visited {
    //                 outline: 0;
    //             }
    //         }
    //     }
}
